.navbar {
    display: flex; /* Устанавливает контейнер .navbar как flex-контейнер, 
    позволяя его дочерним элементам располагаться в одной линии */
    flex-direction: row; /* Располагает дочерние элементы .navbar в строку (по горизонтали) */
    justify-content: space-between; /* Распределяет дочерние элементы .navbar равномерно, 
    с максимальным пространством между ними */
    background-color: #faf7f705; /* Устанавливает фоновый цвет для .navbar */
}

.navbar ul {
    display: flex; /* Устанавливает контейнер ul как flex-контейнер для его дочерних элементов (li) */
    flex-direction: row; /* Располагает элементы списка (li) в строку (по горизонтали) */
    list-style: none; /* Убирает маркеры списка */
    margin: 0; /* Убирает внешний отступ у списка */
}

.navbar ul li {
    display: flex; /* Устанавливает каждый элемент списка (li) как flex-контейнер для его содержимого */
    margin-right: 10px; /* Добавляет отступ справа у каждого элемента списка */
}

.navbar ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color:aliceblue; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри элемента списка */
}

.navbar ul li a:hover {
    color: #7cc6e5;
    transition: 0.5s ease;
}

.navbar div {
    display: flex; /* Устанавливает div как flex-контейнер */
    margin-right: 20px; /* Добавляет отступ справа у div */
    flex-direction: row;
}

.navbar div a {
    text-decoration: none; /* Убирает подчеркивание у ссылок в div */
    color: aliceblue; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри div */
    margin-right: 20px;
}

.navbar div a:hover {
    color: #7cc6e5;
    transition: 0.5s ease;
}

.navbar img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* Контейнер с элементами, использующий Flexbox для адаптивного размещения */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Элементы переносятся на новую строку при нехватке места */
}

/* Элементы с классами .person и .interests занимают 25% ширины контейнера и центрируются */
.person, .interests {
    width: 25%;
    margin: auto;
}

/* Стили для изображений внутри контейнера */
.container img {
    border-radius: 10%; /* Скругленные углы изображения */
    box-shadow: 10px 10px 5px gray; /* Добавление тени с серым цветом */
    width: 25%; /* Ширина изображения составляет 50% от ширины родительского элемента */
    height: auto; /* Автоматическое подстраивание высоты для сохранения пропорций */
    margin-top: 30px;
}

/* Эффект при наведении на изображение */
.container img:hover {
    transform: scale(1.1); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 10px 10px 5px #7cc6e5; /* Изменение цвета тени на синий */
}

/* Фон для всей страницы */
body {
    background-color: #000000; 
}

/* Фон для основного содержимого страницы */
main {
    background: #faf7f720;
}
/* Стили для текста в параграфах */
p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.2rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 30px;
    margin-left: 30px; /* Отступы по бокам */
}

/* Эффект при наведении на параграф */
p:hover {
    background-color: #1b1b1b; /* Синий фон при наведении */
    transition: 0.5s ease;
    border-radius: 5%;
}

/* Секции внутри контейнера */
.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}

.container-video {
    display: flex;
    flex-direction: column; /* Контейнер для видео, элементы располагаются вертикально */
}

.video1, .video2, .video3 {
    margin-top: 30px;
    margin-bottom: 20px; /* Отступ снизу для каждого видео-блока */
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    display: flex; /* Применение Flexbox для управления содержимым */
}

.video1 iframe {
    margin: auto; /* Центрирование видео по горизонтали */
}

.video2 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.video3 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3, .audio4 {
    display: flex;
    flex-direction: row; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 a, .audio2 a, .audio3 a, .audio4 audio {
    color: aliceblue;
    width: 60%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
    text-align: center;
    font-size: 40px;
    text-decoration: none;
}

.audio1 a:hover, .audio2 a:hover, .audio3 a:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    color: #7cc6e5;
    transition: 0.5s ease;
}

.audio1 img, .audio2 img, .audio3 img, .audio4 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
     /* Добавление синеватой тени к изображениям box shadow */
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
}

.book1 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 0%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #3c6170; /* Добавление синеватой тени к изображениям */
    margin-bottom: 5px; /* Отступ снизу для изображений */
}

.book1 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: aliceblue; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
} 

.book1 img:hover {
    box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени на зеленовато-желтую при наведении на изображение */
    transition: 0.5s ease;
}

.book1 a:hover {
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    color: #7cc6e5;
    transition: 0.5s ease;
}

footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
    background-color: rgba(250, 247, 247, 0.125);
}

footer a {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 10px; /* Отступ справа у ссылок в футере */
}

.center-text{
    text-align: center;
}

H2{
    color: rgb(228, 228, 228);
    margin-top: 50px;
    margin-bottom: 25px;
}
P{
    color: rgb(228, 228, 228);
    font-weight: 300;
}

.background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /*полностью покрывает контейнер*/
    transform: translate(-50%, -50%); /*Смещает элемент обратно на 50% его ширины и высоты, центрируя его по горизонтали и вертикали в окне браузера. Это компенсирует команды top: 50% и left: 50%.*/
    z-index: -1;

}

.burger {
    display: none;
}

.navbar ul .work {
    position: relative; /* Set the position to relative to enable absolute positioning of its child elements */
    display: flex; /* Use flexbox for layout */
    z-index: 10; /* Set stacking order */
}

.navbar ul .work ul {
    position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
    flex-direction: column; /* Arrange children in a column */
    left: 0; /* Align the left edge of the dropdown with the parent */
    top: 100%; /* Position the top of the dropdown just below the parent */
    width: 100px; /* Set a fixed width for the dropdown */
    display: none; /* Initially hide the dropdown */
    padding: 0; /* Remove default padding */
    z-index: 20; /* Set a higher stacking order for the dropdown */
}

.navbar ul .work ul li {
    z-index: 20; /* Ensure list items have the same stacking order as the parent */
    background:  radial-gradient(circle at top left, black, gray ,black ) ; /* Set background color */
    margin-bottom: 0px; /* Add space between items */
}

.navbar ul .work:hover ul {
    display: block; /* Show the dropdown when hovering over the parent */
}

.navbar ul .work ul li:hover {
    background-color: white; /* Change background color on hover */
    border-radius: 0; /* Remove border radius */
}
.form {
    flex-direction: column; /* Arrange the children of the .form container in a column layout */
}

.form form {
    display: flex; /* Use flexbox for the form layout */
    flex-direction: column; /* Arrange form elements in a column */
}

.form form fieldset {
    background: radial-gradient(circle, rgb(32, 32, 32), rgb(80, 80, 80));
    transition: 1s ease;
    display: flex; /* Use flexbox for the fieldset layout */
    flex-direction: column; /* Arrange fieldset elements in a column */
    width: 60%; /* Set the width of the fieldset to 50% of the container */
    margin: auto; /* Center the fieldset horizontally */
    margin-top: 100px; /* Add a margin of 30px to the top */
    margin-bottom: 0px; /* Add a margin of 10px to the bottom */
    Color: aliceblue;
}

.form form fieldset:hover {
    background: radial-gradient(circle, rgb(80, 80, 80), rgb(32, 32, 32))
}

.form form fieldset input {
    margin-top: 5px;
    margin-bottom: 10px; /* Add a margin of 10px to the bottom of each input element */
}

.form form fieldset legend {
    text-align: center; /* Center the legend text */
    font-size: 1.2rem; /* Set the font size of the legend text to 1.2rem */
    font-weight: bold; /* Make the legend text bold */
}

.form form button {
    width: 200px; /* Set the width of the button to 200px */
    font-size: 1.2rem; /* Set the font size of the button text to 1.2rem */
    background-color: aliceblue; /* Set the background color of the button */
    color: rgb(32, 32, 32); /* Set the text color of the button to white */
    margin: auto; /* Center the button horizontally */
    margin-bottom: 20px; /* Add a margin of 20px to the bottom */
    margin-top: 20px;
}

.form form button:hover {
    font-size: 1.2rem; /* Maintain the font size of the button text on hover */
    background-color: #7cc6e5; /* Change the background color of the button on hover */
    color: aliceblue; /* Change the text color of the button on hover */
    transition: 0.7s linear;
}


@media (max-width: 700px) {
    /* При ширине экрана до 700px */

    .container {
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
    }
    
    .person {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .person p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
    
    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени при наведении */
    }

    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .video1 video {
        margin-top: 20px; /* Отступ сверху для видео */
        width: 95%; /* Видео занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
    
    .video2 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }
    
    .video3 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
       /* Основные стили для контейнера с бургер-меню */
    .burger {
        display:block; /* Отображение элемента как блочный элемент */
        position: relative; /* Относительное позиционирование для внутренних элементов */
        width: 40px; /* Ширина контейнера */
        height: 40px; /* Высота контейнера */
        margin: auto; /* Автоматические отступы по бокам для центрирования */
        margin-left: -10px; /* Отступ слева */
        margin-right: 5px; /* Отступ справа */
    }
    
    /* Стили для полосок внутри бургер-меню */
    .burger span {
        position: absolute; /* Абсолютное позиционирование для расположения полосок внутри контейнера */
        width: 30px; /* Ширина каждой полоски */
        left: 5px; /* Отступ от левого края контейнера */
        height: 3px; /* Высота полоски */
        background-color: black; /* Цвет полоски */
        bottom: 20px; /* Расположение полоски от нижнего края контейнера */
    }
    
    /* Стили для первой полоски бургер-меню */
    .burger span:nth-child(1) {
        transform: translateY(-10px); /* Перемещение первой полоски вверх на 10px */
    }
    
    /* Стили для третьей полоски бургер-меню */
    .burger span:nth-child(3) {
        transform: translateY(10px); /* Перемещение третьей полоски вниз на 10px */
    }

    .navbar {
        background: radial-gradient(circle at top left, gray,black ,gray )
    }
    .navbar ul {
        position:absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного предка, в нашем случае экрана. */
        background: radial-gradient(circle at top left, black, gray ,black ); /* Радужный градиентный фон от верхнего левого угла */
        flex-direction: column; /* Элементы списка будут выстраиваться вертикально (необходимо для флекс-контейнера) */
        width: 105%; /* Ширина списка равна 30% от ширины родительского элемента */
        height: auto; /* Высота автоматически подстраивается под содержимое */
        top: 68px; /* Расположение списка на 68px ниже от верхнего края родительского элемента */
        left: -120%; /* Расположение списка на 40% ширины родительского элемента слева (вне видимой области) */
        font-size: 15px; /* Размер шрифта */
        z-index: 2; /* Уровень стека элемента, чтобы он перекрывал другие элементы с меньшим z-index */
    }
    
    /* Стили для элементов списка внутри навигационного меню */
    .navbar ul li {
    
        margin-top: 2px; /* Отступ сверху для элементов списка */

    }

    
    /* Стили для элемента списка при наведении */
    .navbar ul li:hover {
        background-color: black; /* Цвет фона элемента становится черным при наведении */
        transform: scale(1.07); /* Увеличение размера элемента на 7% при наведении */
        transition: 0.4s ease; /* Плавный переход эффекта с продолжительностью 0.4 секунды */
        border-radius: 5%; /* Закругление углов элемента на 5% */
    }
    
    /* Стили для ссылок в элементах списка при наведении */
    .navbar ul li a:hover {
        color: white; /* Цвет текста ссылки становится белым при наведении */
    } /* Отступ сверху для первого элемента списка в навигационном меню */
    .navbar ul li:nth-child(1) {
        margin-top: 0; /* Увеличение отступа сверху для первого элемента списка */
    }
    
    /* Стили для ссылок внутри элементов списка */
    .navbar ul li a {
        margin-left: 100; /* Установка нулевого отступа слева для ссылок */
        font-size: 1.2rem; /* Установка размера шрифта в 1.2rem */
    }
    /* Стили для навигационного меню при открытом состоянии */
    .navbar.open ul {
        transform: translateX(100%); /* Перемещение меню на 100% ширины вправо (выдвигается за пределы видимой области) */
        transition: 0.7s ease-in-out; /* Плавный переход эффекта с продолжительностью 0.7 секунды */
    }
    
    /* Стили для первой полоски бургер-меню при открытом состоянии */
    .navbar.open .burger span:nth-child(1) {
        transform: translateY(0) rotate(45deg); /* Поворачивает первую полоску на 45 градусов и возвращает в исходное положение по вертикали */
    }
    
    /* Стили для второй полоски бургер-меню при открытом состоянии */
    .navbar.open .burger span:nth-child(2) {
        opacity: 0; /* Делает вторую полоску полностью прозрачной (не видимой) */
    }
    
    /* Стили для третьей полоски бургер-меню при открытом состоянии */
    .navbar.open .burger span:nth-child(3) {
        transform: translateY(0) rotate(-45deg); /* Поворачивает третью полоску на -45 градусов и возвращает в исходное положение по вертикали */
    }
    .navbar ul .work ul {
        position: absolute; /* Position the dropdown menu absolutely relative to its nearest positioned ancestor */
        flex-direction: column; /* Arrange children in a column */
        left: -100%; /* Offset the dropdown 10px from the left of the parent */
        top: 10; /* Align the top of the dropdown with the top of the parent */
        width: 100%; /* Set a fixed width for the dropdown */
        display: none; /* Initially hide the dropdown */
        padding: 0; /* Remove default padding */
        z-index: 20; /* Set a higher stacking order for the dropdown */
        
    }
    .navbar ul .work ul li {
        margin-top: 0; /* Remove top margin */
        margin-bottom: 5px; /* Add bottom margin */
        background-color: unset; /* Remove default background color */
        font-size: 1.2rem; /* Increase font size */
        margin-left: 10px; /* Offset the list item 10px from the left */
        color: WHITE; /* Set text color to black */
    }
    .navbar ul .work ul li:hover {
        background-color: black; /* Change background color to black on hover */
    }
    
    .navbar ul .work ul li:hover a:hover {
        color:#7cc6e5 ; /* Change text color to white when hovering over the link */
    }
    .navbar ul .work:hover ul li a {
        color: aliceblue; /* Set text color to black when hovering over the parent */
    }
    .form form fieldset{
        width: 80%;
    }

    

}

@media (min-width: 700px) and (max-width: 900px) {
    /* При ширине экрана от 700px до 900px */
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 320px; /* Ширина изображения фиксирована */
        height: 200px; /* Высота изображения фиксирована */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
    .form form fieldset{
        width: 80%;
    }
}



.math {
    display: flex;
}

.math form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
    width: 100%;
}

.math form fieldset {
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    margin-bottom: 30px;
}

.math form fieldset legend {
    color: aliceblue;
    text-align: center;
    font-size: 1.2rem;
}

.math form fieldset .counters {
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.math form fieldset .counters div {
    display: flex;
    flex-direction: row;
}

.math form fieldset .counters div label, input {
    flex-direction: row;
    text-align: center;
}

.math form fieldset .counters div input {
    width: 70%;
    font-size: 1.1rem;
    color: #1b1b1b;
}

.math form fieldset .butcont {
    display: flex;
    flex: row;
    width: 100%;
    margin-bottom: 20px;
}

.math form fieldset .butcont button {
    display: block;
    width: 20%;
    box-sizing: border-box;
    height: 40px;
    margin: auto;
}

.math form fieldset p {
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    margin: 0;
}

.math form fieldset p span {
    margin: auto;
    font-size: 1.2rem;
}

.math form fieldset {
    width: 70%;
}

.special1 {
    padding-right: 20px;
}